/**
 * _layout.scss
 *
 * Block styles
 */

.jg-fundraising {
	&__wrap {
		width: 500px;
		background: $white;
		margin: 40px auto;
		// While the data comes back
		display: none;
	}

	&__header-img {
		display: block;
		width: 100%;
	}

	&__content, &__footer {
		padding: 30px;
		text-align: center;
		border: {
			left: 1px solid $lightGrey;
			right: 1px solid $lightGrey;
			bottom: 1px solid $lightGrey;
		}
	}

	&__footer {
		&-text, &-btn {
			margin-bottom: 20px;
		}

		&-logo {
			width: 250px;
			margin: 5px auto 0;
		}
	}

	&__form {
		margin: 0 auto 20px;
	}

	&__field {
		width: 60px;
		padding: 10px;
		font-size: 20px;
		background: white;
		border: 1px solid $lightGrey;
		box-shadow: inset 0 1px 2px 0 rgba(50, 50, 50, 0.75);
		margin-right: 20px;

		&--error {
			border-color: red;
		}
	}

	&__btn {
		display: inline-block;
		border-radius: 3px;
		padding: 10px 40px;
		font-size: 20px;
		background: $purple;
		outline: 0;
		color: $white;
		 -webkit-appearance: none;
		 border: 0;
		 cursor: pointer;
		 text-decoration: none;

		 &:hover {
		 	background: darken($purple, 5);
		 }

		&--alt {
			background: $orange;

			&:hover {
			 	background: darken($orange, 5);
			 }
		}
	}

	&__thanks {
		display: none;
		margin: 0 auto 20px;
		border: 1px solid $purple;
		color: $purple;
		padding: 10px;
	}

	&__owner {
		width: 180px;
		margin: 0 auto;
		overflow: hidden;

		&-avatar, &-details {
			float: left;
			text-align: left;
		}

		&-avatar {
			border-radius: 50%;
			overflow: hidden;
			margin-right: 20px;
			width: 50px;
			height: 50px;
		}

		&-img {
			display: block;
			width: 100%;
			height: 100%;
		}

		&-details {
			margin-top: 5px;
		}
	}

	&--half {
		float: left;
		width: 50%;
	}

	&--text-left {
		text-align: left;
	}

	&--text-right {
		text-align: right;
	}

	&__progress {
		color: $purple;
		margin: 0 auto 20px;

		&-details {
			overflow: hidden;
		}

		&-value {
			font-size: 20px;
		}

		&-label {
			font-size: 12px;
		}
	}

	&__bar {
		$barHeight: 10px;

		&-bg {
			width: 100%;
			height: $barHeight;
			background: $lightGrey;
			border-radius: $barHeight/2;
			overflow: hidden;
			margin-bottom: 10px;
		}

		&-progress {
			background: $purple;
			height: $barHeight;
			border-radius: $barHeight/2;
		}
	}
}