/**
 * _typography.scss
 *
 * Type styles
 */

.jg-fundraising {

	&__title {
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 16px;
		line-height: 1.6;

		&--small {
			font-size: 12px;
			// FYI: With a contrast ratio of 2.76:1, this fails WCAG rule 1.4.3
			color: $grey;
		}
	}
}