<div class="jg-fundraising__wrap" id="jg-widget">
	<link rel="stylesheet" href="/css/main.css">

	<img src="/img/crowdfunding_image.jpg" alt="Image of a group of smiling children" class="jg-fundraising__header-img">
	
	<!-- Main content block -->
	<div class="jg-fundraising__content">

		<h1 class="jg-fundraising__title" id="jg-story"></h1>

		<div class="jg-fundraising__progress">

			<div class="jg-fundraising__bar-bg">
				<div class="jg-fundraising__bar-progress" id="jg-bar"></div>
			</div>

			<div class="jg-fundraising__progress-details">
				<div class="jg-fundraising--half jg-fundraising--text-left">

					<p class="jg-fundraising__progress-value">£<span id="jg-total-pledged">0</span></p>

					<p class="jg-fundraising__progress-label">pledged of £<span id="jg-target">0</span> target.</p>

				</div>

				<div class="jg-fundraising--half jg-fundraising--text-right">

					<p class="jg-fundraising__progress-value"><span id="jg-total-percent">0</span>%</p>

					<p class="jg-fundraising__progress-label">funded</p>

				</div>
			</div>
			
		</div>

		<form class="jg-fundraising__form">
			<input type="number" class="jg-fundraising__field" placeholder="£" id="jg-pledge-amount">
			<button type="button" class="jg-fundraising__btn" id="jg-pledge">Pledge</button>
		</form>

		<div class="jg-fundraising__thanks">
			<p class="jg-fundraising__text">Thanks for your pledge!</p>
		</div>

		<div class="jg-fundraising__owner">

			<div class="jg-fundraising__owner-avatar">
				<img src="/img/avatar.jpg" alt="Holly Groom" class="jg-fundraising__owner-img">
			</div>

			<div class="jg-fundraising__owner-details">
				<p class="jg-fundraising__text jg-fundraising__text--small">Project Owner</p>
				<p class="jg-fundraising__text jg-fundraising__text--bold" id="jg-owner"></p>
			</div>
		</div>

	</div>

	<footer class="jg-fundraising__footer" role="contentinfo" >

		<p class="jg-fundraising__text jg-fundraising__footer-text">Create your own crowdfunding project and make a difference in the community</p>

		<a class="jg-fundraising__btn jg-fundraising__btn--alt jg-fundraising__footer-btn" href="#">Get started</a>
		
		<p class="jg-fundraising__text jg-fundraising__text--small">Powered by</p>

		<!-- Gross, but the quickest way -->
		<div class="jg-fundraising__footer-logo">
			<svg version="1.1" id="Layer_1" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns"
		 	xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-534 383 211 36"
		 	enable-background="new -534 383 211 36" xml:space="preserve">
				<title>justgiving_logo</title>
				<desc>Created with Sketch.</desc>
				<g id="Base-Template" sketch:type="MSPage">
					<g id="Events-by-Charity" transform="translate(-169.000000, -796.000000)" sketch:type="MSArtboardGroup">
						<g id="Footer" transform="translate(23.000000, -118.000000)" sketch:type="MSLayerGroup">
						</g>
						<g id="CTA" transform="translate(23.000000, 715.000000)" sketch:type="MSLayerGroup">
						</g>
						<path id="justgiving_logo" sketch:type="MSShapeGroup" fill="#AC29B5" d="M-284.2,1193.8c0,8.1,6.6,14.8,14.8,14.8
							c8.2,0,14.8-6.6,14.8-14.8c0-1.1-0.1-2.2-0.4-3.2h-10.4l-6.1,6h8.3c-1.1,2.4-3.5,4.1-6.4,4.1c-3.8,0-7-3.1-7-6.9
							c0-3.8,3.1-6.9,7-6.9c1.4,0,2.7,0.4,3.8,1.1l5.6-5.6c-2.6-2.1-5.8-3.3-9.4-3.3h0C-277.5,1179-284.2,1185.6-284.2,1193.8z
							 M-252.5,1185.9h7.3v22.1h-7.3V1185.9z M-252.5,1179.5h7.3v4.4h-7.3V1179.5z M-228.7,1208.1l8.7-22.2h-7.7l-4.2,12.3l-4.1-12.3
							h-7.8l8.7,22.1l0.1,0.2H-228.7z M-218.6,1185.9h7.3v22.1h-7.3V1185.9z M-218.6,1179.5h7.3v4.4h-7.3V1179.5z M-188.5,1207.9v-14.1
							c0-5.2-3-8.4-7.8-8.4c-2.2,0-4,0.8-5.6,2.4l-2-2h-5.1v22.1h7.3v-12.2c0-1.6,0.5-3.5,3-3.5c1.9,0,2.8,1.2,2.8,3.5v12.2H-188.5z
							 M-355.2,1208.3c6.6,0,10.3-3.8,10.3-10.4v-18.3h-7.6v18.1c0,2.5-0.9,3.7-2.9,3.7c-1.5,0-2.8-0.7-4.4-2.5l-0.3-0.3l-5,4.9l0.4,0.5
							C-362.2,1206.9-359.1,1208.3-355.2,1208.3z M-175.8,1208.6c-1.9,0-3.6-0.3-5.3-1.1l-4.8,4.8l0.7,0.4c2.8,1.5,6.1,2.2,9.5,2.2
							c8.4,0,12.4-4.3,12.4-12.2v-16.8h-5.3l-1.9,1.9c-1.8-1.5-3.7-2.3-6.2-2.3c-5,0-10,3.6-10,10.4v0.1c0,6.8,5,10.4,10,10.4
							c2.4,0,4.2-0.7,5.9-2.1C-171.1,1206.9-172.7,1208.6-175.8,1208.6z M-175,1200.4c-2.7,0-4.7-1.8-4.7-4.4v-0.1c0-2.6,2-4.4,4.7-4.4
							c2.7,0,4.7,1.8,4.7,4.4v0.1C-170.3,1198.5-172.3,1200.4-175,1200.4z M-342.5,1185.9v14.1c0,5.2,3,8.4,7.8,8.4c2.2,0,4-0.8,5.6-2.4
							l2,2h5.1v-22.1h-7.3v12.2c0,1.6-0.5,3.5-2.9,3.5c-1.9,0-2.8-1.2-2.8-3.5v-12.2H-342.5z M-286.3,1192.3v-6.4h-4.9v-6.3h-7.3v6.3
							h-2.5v6.4h2.5v9c0,4.7,2.2,6.9,6.8,6.9c1.9,0,3.5-0.4,5-1.3l0.4-0.2v-6.3l-1.1,0.6c-0.8,0.4-1.7,0.7-2.6,0.7
							c-0.9,0-1.2-0.3-1.2-1.3v-8.1H-286.3z M-310.5,1202.9c-1.8,0-3.9-0.8-5.9-2.1l-4,4l-0.1,0.1l0.4,0.3c2.7,2.1,6.1,3.3,9.5,3.3
							c5.4,0,8.7-2.7,8.7-7.3v-0.1c0-4.5-4.4-6-6.8-6.8l-0.7-0.2c-1.7-0.6-3.3-1.1-3.3-1.8v-0.1c0-0.7,0.9-1,1.7-1
							c1.2,0,2.8,0.5,4.5,1.4l4.2-4.2l-0.3-0.2c-2.4-1.6-5.5-2.6-8.2-2.6c-5,0-8.3,2.9-8.3,7.3v0.1c0,4.3,3.4,5.9,6.7,6.8
							c0.3,0.1,0.6,0.2,0.8,0.2c1.8,0.5,3.3,1,3.3,1.7v0.1C-308.5,1202.7-309.6,1202.9-310.5,1202.9z M-161.8,1186.9h1v2.5h1.2v-2.5h1
							v-1h-3.3V1186.9z M-155.4,1185.9l-0.8,1.2l-0.8-1.2h-1.2v3.5h1.2v-1.8l0.5,0.8h0.6l0.5-0.8v1.8h1.2v-3.5H-155.4z"/>
					</g>
				</g>
			</svg>
		</div>

	</footer>

	<script src="/javascript/jquery-1.11.3.min.js"></script>
	<script src="/javascript/main.js"></script>
</div>