/**
 * main.scss
 *
 * compiles all scss
 */
/**
 * _vars.scss
 *
 * SCSS variables
 */
/**
 * _reset.scss
 *
 * Eric Meyer's CSS reset
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * _base.scss
 *
 * base body styles
 */
body {
  background: #e5e5e5;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif; }

/**
 * _layout.scss
 *
 * Block styles
 */
.jg-fundraising__wrap {
  width: 500px;
  background: #ffffff;
  margin: 40px auto;
  display: none; }

.jg-fundraising__header-img {
  display: block;
  width: 100%; }

.jg-fundraising__content, .jg-fundraising__footer {
  padding: 30px;
  text-align: center;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5; }

.jg-fundraising__footer-text, .jg-fundraising__footer-btn {
  margin-bottom: 20px; }

.jg-fundraising__footer-logo {
  width: 250px;
  margin: 5px auto 0; }

.jg-fundraising__form {
  margin: 0 auto 20px; }

.jg-fundraising__field {
  width: 60px;
  padding: 10px;
  font-size: 20px;
  background: white;
  border: 1px solid #e5e5e5;
  box-shadow: inset 0 1px 2px 0 rgba(50, 50, 50, 0.75);
  margin-right: 20px; }
  .jg-fundraising__field--error {
    border-color: red; }

.jg-fundraising__btn {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 40px;
  font-size: 20px;
  background: #ae29b6;
  outline: 0;
  color: #ffffff;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  text-decoration: none; }
  .jg-fundraising__btn:hover {
    background: #9a24a1; }
  .jg-fundraising__btn--alt {
    background: #f6821f; }
    .jg-fundraising__btn--alt:hover {
      background: #f2750a; }

.jg-fundraising__thanks {
  display: none;
  margin: 0 auto 20px;
  border: 1px solid #ae29b6;
  color: #ae29b6;
  padding: 10px; }

.jg-fundraising__owner {
  width: 180px;
  margin: 0 auto;
  overflow: hidden; }
  .jg-fundraising__owner-avatar, .jg-fundraising__owner-details {
    float: left;
    text-align: left; }
  .jg-fundraising__owner-avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    width: 50px;
    height: 50px; }
  .jg-fundraising__owner-img {
    display: block;
    width: 100%;
    height: 100%; }
  .jg-fundraising__owner-details {
    margin-top: 5px; }

.jg-fundraising--half {
  float: left;
  width: 50%; }

.jg-fundraising--text-left {
  text-align: left; }

.jg-fundraising--text-right {
  text-align: right; }

.jg-fundraising__progress {
  color: #ae29b6;
  margin: 0 auto 20px; }
  .jg-fundraising__progress-details {
    overflow: hidden; }
  .jg-fundraising__progress-value {
    font-size: 20px; }
  .jg-fundraising__progress-label {
    font-size: 12px; }

.jg-fundraising__bar-bg {
  width: 100%;
  height: 10px;
  background: #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px; }

.jg-fundraising__bar-progress {
  background: #ae29b6;
  height: 10px;
  border-radius: 5px; }

/**
 * _typography.scss
 *
 * Type styles
 */
.jg-fundraising__title {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px; }

.jg-fundraising__text {
  font-size: 16px;
  line-height: 1.6; }
  .jg-fundraising__text--small {
    font-size: 12px;
    color: #9a9c9b; }

/*# sourceMappingURL=main.css.map */